In [10]:
import utils.connect_db as connect_db
import processed.stage_egresados_niveles as fn_stage_egresados_niveles
import processed.stage_porcentaje_egresados_internacional as fn_stage_porcentaje_egresados_internacional
import processed.stage_situacion_laboral_egresados as fn_stage_situacion_laboral_egresados
import pandas as pd
import numpy as np
from utils.models import *

# fact_international_graduated


sqlEngine, dbConnection,session=connect_db.db_connector()
 #read stage_porcentaje_egresados_internacional
query='SELECT * FROM stage_porcentaje_egresados_internacional'
stage_porcentaje_egresados_internacional=connect_db.get_table_db_staging(session,query)

query='SELECT * from  stage_numero_egresados_internacional'
stage_numero_egresados_internacional=connect_db.get_table_db_staging(session,query)

query = session.query(Pais)
df_dim_pais_db= pd.read_sql_query(query.statement, sqlEngine)
df_dim_pais_db=df_dim_pais_db.rename(columns={'nombre_pais':'country','id':'id_country'})

column_order=['year',
 'id_country',
 'num_graduated_M',
 'num_graduated_F',
 'num_graduated',
 'percentage_graduated',
 'percentage_youth_graduated',
 'fecha_ejecucion']


df=pd.merge(stage_numero_egresados_internacional,stage_porcentaje_egresados_internacional,on=['year','country'],how='left')
fact_international_graduated=pd.merge(df_dim_pais_db,df,on=['country'],how='inner').drop('country',axis=1)
fact_international_graduated = fact_international_graduated.reindex(columns=column_order)

<sqlalchemy.engine.base.Connection object at 0x000001BA71555F90>

In [11]:
import utils.connect_db as connect_db
import processed.stage_egresados_niveles as fn_stage_egresados_niveles
import processed.stage_porcentaje_egresados_internacional as fn_stage_porcentaje_egresados_internacional
import processed.stage_situacion_laboral_egresados as fn_stage_situacion_laboral_egresados
import pandas as pd
import numpy as np
from utils.models import *

# fact_egresados_rama_enseñanza
sqlEngine, dbConnection,session=connect_db.db_connector()
query = session.query(Pais)
df_dim_pais_db= pd.read_sql_query(query.statement, sqlEngine)
df_dim_pais_db=df_dim_pais_db.rename(columns={'nombre_pais':'country','id':'id_country'})


#esperar q haya dimension
# query = session.query(universidad.id, universidad.nombre.universidad)
# df_dim_pais_db= pd.read_sql_query(query.statement, sqlEngine)
# df_dim_universidad_db=df_dim_pais_db.rename(columns={'nombre_pais':'country','id':'id_country'})

#esperar q haya dimension
# query = session.query(rama_enseñanza.id, rama_enseñanza.nombre.nombre_rama)
# df_dim_pais_db= pd.read_sql_query(query.statement, sqlEngine)
# df_dim_rama_enseñanza_db=df_dim_pais_db.rename(columns={'nombre_pais':'country','id':'id_country'})


sqlEngine, dbConnection,session=connect_db.db_connector()
 #read stage_porcentaje_egresados_internacional
query='SELECT * FROM stage_egresados_universidad'
stage_egresados_universidad=connect_db.get_table_db_staging(session,query)

#descomentar ya cuando tenga todas las dimensiones 


df=pd.merge(stage_egresados_universidad,df_dim_pais_db,left_on='pais',right_on='country').drop(['pais','country','index'],axis=1)

# df=pd.merge(df,df_dim_universidad_db, on=['nombre_universidad','tipo_universidad'],how='left').drop(['nombre_universidad','tipo_universidad','modalidad'],axis=1)
# df=pd.merge(df,df_dim_rama_enseñanza_db, left_on=['rama_enseñanza'],rigth_on=['nombre_rama'],how='left').drop(['rama_enseñanza'])

#column_order=['año','id_pais','id_universidad','id_rama_enseñanza','num_egresados']
#df = df.reindex(columns=column_order)

<sqlalchemy.engine.base.Connection object at 0x000001BA71554E50>
<sqlalchemy.engine.base.Connection object at 0x000001BA71555030>

,año,nombre_universidad,tipo_universidad,modalidad,rama_enseñanza,num_egresados,id_country
0,2017,Abat Oliba CEU,Universidades Privadas,Presencial,Ciencias Sociales y Jurídicas,450,9
1,2017,Abat Oliba CEU,Universidades Privadas,Presencial,Ingeniería y Arquitectura,0,9
2,2017,Abat Oliba CEU,Universidades Privadas,Presencial,Artes y Humanidades,0,9
3,2017,Abat Oliba CEU,Universidades Privadas,Presencial,Ciencias de la Salud,84,9
4,2017,Abat Oliba CEU,Universidades Privadas,Presencial,Ciencias,0,9
...,...,...,...,...,...,...,...
3275,2010,Internacional Menéndez Pelayo,Universidades Públicas,Especiales,Ciencias Sociales y Jurídicas,34,9
3276,2010,Internacional Menéndez Pelayo,Universidades Públicas,Especiales,Ingeniería y Arquitectura,0,9
3277,2010,Internacional Menéndez Pelayo,Universidades Públicas,Especiales,Artes y Humanidades,10,9
3278,2010,Internacional Menéndez Pelayo,Universidades Públicas,Especiales,Ciencias de la Salud,0,9
3279,2010,Internacional Menéndez Pelayo,Universidades Públicas,Especiales,Ciencias,103,9

In [39]:
fact_international_graduated

,year,id_country,num_graduated_M,num_graduated_F,num_graduated,percentage_graduated,percentage_youth_graduated,fecha_ejecucion
0,2013,1,28254,38213,66467,97.5,74.2,20230513
1,2014,1,29286,40959,70245,100.1,76.6,20230513
2,2015,1,31527,42901,74428,102.9,79.7,20230513
3,2016,1,37160,48130,85290,113.9,90.1,20230513
4,2017,1,36037,46544,82581,107.9,84.5,20230513
5,2013,2,21023,31707,52730,77.4,50.6,20230513
6,2014,2,21331,32547,53878,79.1,50.8,20230513
7,2015,2,22763,34066,56829,83.4,54.4,20230513
8,2016,2,22796,33270,56066,82.2,53.9,20230513
9,2017,2,22307,33829,56136,82.2,53.6,20230513
10,2013,3,319067,407944,727011,0.0,0.0,20230513
11,2014,3,327927,414638,742565,94.8,0.0,20230513
12,2015,3,330669,421399,752068,96.5,0.0,20230513
13,2016,3,339697,433853,773550,99.8,0.0,20230513
14,2017,3,0,0,0,0.0,0.0,20230513
15,2013,4,244570,251238,495808,49.9,0.0,20230513
16,2014,4,258215,263630,521845,53.8,0.0,20230513
17,2015,4,271561,273182,544743,55.9,45.9,20230513
18,2016,4,274427,282373,556800,55.8,45.7,20230513
19,2017,4,278178,290976,569154,57.3,46.8,20230513
20,2013,5,28428,32869,61297,103.8,72.6,20230513
21,2014,5,30987,33968,64955,116.3,79.6,20230513
22,2015,5,32183,35120,67303,126.8,84.9,20230513
23,2016,5,31449,33913,65362,114.4,76.0,20230513
24,2017,5,36109,41893,78002,136.9,89.2,20230513
25,2013,6,146566,215341,361907,57.1,0.0,20230513
26,2014,6,150934,223419,374353,58.3,41.4,20230513
27,2015,6,152395,217903,370298,58.2,43.4,20230513
28,2016,6,155063,218712,373775,59.4,45.0,20230513
29,2017,6,0,0,0,0.0,0.0,20230513
30,2013,7,59596,78691,138287,66.5,58.4,20230513
31,2014,7,61302,79968,141270,67.3,59.6,20230513
32,2015,7,65406,83536,148942,70.3,62.7,20230513
33,2016,7,66405,84679,151084,70.7,63.3,20230513
34,2017,7,68323,87181,155504,72.1,65.0,20230513
35,2013,8,18496,26257,44753,66.7,48.3,20230513
36,2014,8,19784,27958,47742,69.8,50.7,20230513
37,2015,8,19872,28340,48212,69.1,50.9,20230513
38,2016,8,20159,28851,49010,69.6,51.7,20230513
39,2017,8,22397,30688,53085,74.6,56.1,20230513
40,2013,9,179962,227074,407036,76.2,55.9,20230513
41,2014,9,194655,248666,443321,86.5,64.3,20230513
42,2015,9,195429,243187,438616,88.4,66.4,20230513
43,2016,9,193445,245216,438661,90.5,68.1,20230513
44,2017,9,0,0,0,0.0,0.0,20230513
45,2013,10,27883,44899,72782,57.0,37.6,20230513
46,2014,10,28149,46587,74736,57.3,37.7,20230513
47,2015,10,29860,48384,78244,59.0,37.4,20230513
48,2016,10,29414,48698,78112,58.3,38.2,20230513
49,2017,10,0,0,0,0.0,0.0,20230513
50,2013,11,42386,39523,81909,79.5,53.5,20230513
51,2014,11,44369,41381,85750,82.3,55.5,20230513
52,2015,11,44386,41792,86178,82.1,55.5,20230513
53,2016,11,44709,42770,87479,82.8,55.6,20230513
54,2017,11,0,0,0,0.0,0.0,20230513
55,2013,12,340138,451807,791945,91.5,67.0,20230513
56,2014,12,331206,441156,772362,88.9,67.7,20230513
57,2015,12,0,0,0,0.0,0.0,20230513
58,2016,12,322710,431591,754301,85.9,65.3,20230513
59,2017,12,0,0,0,0.0,0.0,20230513

In [35]:
fact_international_graduated

,year,id_country,num_graduated_M,num_graduated_F,num_graduated,percentage_graduated,percentage_youth_graduated,fecha_ejecucion
0,1,2013,28254,38213,66467,97.5,74.2,20230513
1,1,2014,29286,40959,70245,100.1,76.6,20230513
2,1,2015,31527,42901,74428,102.9,79.7,20230513
3,1,2016,37160,48130,85290,113.9,90.1,20230513
4,1,2017,36037,46544,82581,107.9,84.5,20230513
5,2,2013,21023,31707,52730,77.4,50.6,20230513
6,2,2014,21331,32547,53878,79.1,50.8,20230513
7,2,2015,22763,34066,56829,83.4,54.4,20230513
8,2,2016,22796,33270,56066,82.2,53.9,20230513
9,2,2017,22307,33829,56136,82.2,53.6,20230513
10,3,2013,319067,407944,727011,0.0,0.0,20230513
11,3,2014,327927,414638,742565,94.8,0.0,20230513
12,3,2015,330669,421399,752068,96.5,0.0,20230513
13,3,2016,339697,433853,773550,99.8,0.0,20230513
14,3,2017,0,0,0,0.0,0.0,20230513
15,4,2013,244570,251238,495808,49.9,0.0,20230513
16,4,2014,258215,263630,521845,53.8,0.0,20230513
17,4,2015,271561,273182,544743,55.9,45.9,20230513
18,4,2016,274427,282373,556800,55.8,45.7,20230513
19,4,2017,278178,290976,569154,57.3,46.8,20230513
20,5,2013,28428,32869,61297,103.8,72.6,20230513
21,5,2014,30987,33968,64955,116.3,79.6,20230513
22,5,2015,32183,35120,67303,126.8,84.9,20230513
23,5,2016,31449,33913,65362,114.4,76.0,20230513
24,5,2017,36109,41893,78002,136.9,89.2,20230513
25,6,2013,146566,215341,361907,57.1,0.0,20230513
26,6,2014,150934,223419,374353,58.3,41.4,20230513
27,6,2015,152395,217903,370298,58.2,43.4,20230513
28,6,2016,155063,218712,373775,59.4,45.0,20230513
29,6,2017,0,0,0,0.0,0.0,20230513
30,7,2013,59596,78691,138287,66.5,58.4,20230513
31,7,2014,61302,79968,141270,67.3,59.6,20230513
32,7,2015,65406,83536,148942,70.3,62.7,20230513
33,7,2016,66405,84679,151084,70.7,63.3,20230513
34,7,2017,68323,87181,155504,72.1,65.0,20230513
35,8,2013,18496,26257,44753,66.7,48.3,20230513
36,8,2014,19784,27958,47742,69.8,50.7,20230513
37,8,2015,19872,28340,48212,69.1,50.9,20230513
38,8,2016,20159,28851,49010,69.6,51.7,20230513
39,8,2017,22397,30688,53085,74.6,56.1,20230513
40,9,2013,179962,227074,407036,76.2,55.9,20230513
41,9,2014,194655,248666,443321,86.5,64.3,20230513
42,9,2015,195429,243187,438616,88.4,66.4,20230513
43,9,2016,193445,245216,438661,90.5,68.1,20230513
44,9,2017,0,0,0,0.0,0.0,20230513
45,10,2013,27883,44899,72782,57.0,37.6,20230513
46,10,2014,28149,46587,74736,57.3,37.7,20230513
47,10,2015,29860,48384,78244,59.0,37.4,20230513
48,10,2016,29414,48698,78112,58.3,38.2,20230513
49,10,2017,0,0,0,0.0,0.0,20230513
50,11,2013,42386,39523,81909,79.5,53.5,20230513
51,11,2014,44369,41381,85750,82.3,55.5,20230513
52,11,2015,44386,41792,86178,82.1,55.5,20230513
53,11,2016,44709,42770,87479,82.8,55.6,20230513
54,11,2017,0,0,0,0.0,0.0,20230513
55,12,2013,340138,451807,791945,91.5,67.0,20230513
56,12,2014,331206,441156,772362,88.9,67.7,20230513
57,12,2015,0,0,0,0.0,0.0,20230513
58,12,2016,322710,431591,754301,85.9,65.3,20230513
59,12,2017,0,0,0,0.0,0.0,20230513